html {
    
    height: 100%;
}



.grad {
    height: 100%;
    background: rgb(9,27,130); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(9,27,130,1) 0%, rgba(0,0,0,1) 65%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(9,27,130,1)), color-stop(65%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(9,27,130,1) 0%,rgba(0,0,0,1) 65%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(9,27,130,1) 0%,rgba(0,0,0,1) 65%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(9,27,130,1) 0%,rgba(0,0,0,1) 65%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(9,27,130,1) 0%,rgba(0,0,0,1) 65%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#091b82', endColorstr='#000000',GradientType=0 ); 
    /* IE6-9 */
}





#blueborder{
        margin-top: -380px;
margin-left: -260px;
    position:fixed;
     width:500px;
     height:500px;
    border-width: 10px;
    border-style: double;
    border-color: #0038c8;
    border-radius: 5px;
    z-index:15;
     top: 50%;
    left: 50%;
}


#leftpanel {
    margin-top: -388px;
    margin-left: -510px;
    position: fixed;
    top:50%;
    left:50%;
    
}


#rightpanel {
    margin-top: -388px;
    margin-left: 260px;
    position: fixed;
    top:50%;
    left:50%;
    
}
    
    
   

